.image {
    background-image: url("https://mixdesign.club/themeforest/oomph-halloween/img/demo/bg-demo.svg");
}

.about {
    font-family: 'Baloo Bhai 2', cursive;
    color: #c0c0c0;
}

strong {
    color: white !important;
}