.navbar {
    margin: 0px 140px;
}

@media only screen and (max-width: 600px) {
    .navbar {
      margin: 0px;
    }
}

#box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px !important;
    background-color: #1d1f20eb;
    transition: all 0.5s;
}

.gradient-border {
    --borderWidth: 2px;
    border-radius: 10px !important;
    /* background-color: #1D1F20; */
    position: relative;
    border-radius: var(--borderWidth);
}


.gradient-border:after {
    content: '';
    border-radius: 10px !important;
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

#box:hover {
    background-color: transparent;
    color: white;
}


  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.pumpk-image {
    box-shadow: -2px 7px 20px 20px #ceb91996;
    animation: pumpkAnimation infinite;
    animation-duration: 3s;
}

@keyframes pumpkAnimation {
    0% {
        scale: 0.5;
    }
    50% {
        scale: 1;
    }
    100% {
        scale: 0.5;
    }
}

#button-form {
    margin: 0px -100px;
}




.scale-up-center{
    animation:scale-up-center 0.15s;
}
@keyframes scale-up-center{
    0%{
        transform:scale(.5)
    }
    100%{
        transform:scale(1)
    }
}

/* .scale-up-top-right{
    animation:scale-up-top-right 0.4s;
}
@keyframes scale-up-top-right{
    0%{
        transform:scale(.5);transform-origin:top right
    }
    100%{
        transform:scale(1);transform-origin:top right
    }
} */